name: Action Example

on:
  workflow_dispatch:
jobs:
  notion:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Notion To JSON
        uses: park-jihoo/notion-action@v0.0.1    
        with:
          notion_token: ${{ secrets.NOTION_API_KEY }}
          notion_database_id: ${{ secrets.NOTION_DATABASE_ID }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_branch: master
